body{
    background:linear-gradient(#7a7474, #fafafa)
}
.Container {
    background-color: linear-gradient(to bottom right, white, grey);
    width: 1200px;
    height: 1400px;
}
.contenedor{
    background-color: #fafafa;
}

nav ul {
    list-style: none;
    display: flex;
    height: 20px;
    gap: 250px;
    margin: 13px;
    padding: 4px;
    position: absolute;
    top: 0px;
    left: 700px;
}

nav a {
    text-decoration: none;
    color: #000000;
}

.Contenedor-Targeta {
    text-align: center;
    margin-top: 30px;
}

.Contenedor-Targeta img {
    width: 10px 0;
    font-size: 18px;
}

.Boton-Compra {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: rgb(254, 254, 255);
    border: none;
    cursor: pointer;
    cursor: -moz-grab;
    font-size: 20px;
    transition: background-color 0.2s;
}

.Boton-Compra:hover {
    background-color: #00f00c;
}