@font-face {
    font-family: Fuente-Amazon;
    src: url(./Amazon_Typefaces_Complete_Font_Set_Mar2020/Ember/AmazonEmber_ThIt.ttf);
}

html{
    size-adjust: 1080px;
}
nav ul{
    list-style: none;
    display: flex;
    height: 20px;
    gap: 250px;
    margin: 13px;
    padding: 4px;
}
body {
    margin: 0;
    padding: 0;
    font-family: Fuente-Amazon;
    color: white;
    background-color: black;
    height: 100vh;
}

.container {
    position: relative;
    text-align: center;
    top: 608px;
    left: 380px;
    height: 102px;
    width: 1160px;
    background: transparent url('Now you cant enjoy everything from Amazon Prime Video and Twitch Prime Video and twitch Prime with you Amazon Prime subcription on one place that brigs all the entertaiment you love.');
    opacity: 1;
}

.search-icon {
    position: absolute;
    top: 37px;
    left: 63px;
    width: 36px;
    height: 36px;
    background: transparent url('media\Lupa.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.logo {
    height: 30px;
    width: auto;
    margin-top: 20px;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.content img {
    width: 200px;
    height: auto;
}

.main-text {
    font-size: 2em;
    margin: 20px 0;
}

.sub-text {
    font-size: 1.2em;
    margin-bottom: 40px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.sign-up {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d2e0e5;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
}

.login {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
.Cubo{
    margin: 100%;
}
