body {
    margin: 60px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #1e1e2e;
    color: #f97306;
    font-size: 70px;
    position: absolute;
    left: 50%;
}

img {
    position:absolute;
    right: 2000px;
    width: 1000px;
}
main p{
    color: white;
    font-style:inherit;
    font-size: 100px;
    margin: 1px;
}
main p2{
    color: white;
    font-size: 60px;
    margin: auto;
}
button{
    font-size: 40px;
    position: absolute;
    left: 20%;
    width: 350px;
    height: 90px;
    background-color: #ee7410;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 10px;
}