body {
    margin: 60px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #1e1e2e;
    color: #f97306;
    font-size: 70px;
    position: absolute;
    left: 50%;
}

.div img {
    position: absolute;
    left: 80%;
    width: 600px;
}