* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Contenedor {
    width: 600px;
    background-color: white;
    
}

section p {
    overflow: hidden;
    max-height: 0;
    text-align: justify;
    transition: all .2s ease-in-out;
}

section a {
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 20px;
    color: rgb(0, 89, 255);
    background-color: rgb(255, 255, 255);
    border-top: 20px solid rgb(255, 0, 0);
}

section:target p {
    max-height: 200px;
    padding: 20px;
}

img{
    width: 30px;
    position: absolute;
    margin-left: 90vh;
    margin-top: 6vh;
}