body {
    background-color: black;
}

.barrierN1 {
    position: absolute;
    margin-top: 10vw;
    margin-left: 38.4vw;
    width: 5vw;
    height: 40vh;
    background-color: #000000;
    animation-name: Animation1;
    animation-duration: 5s;
    animation-delay: 1s;
}

.barrierN2 {
    position: absolute;
    margin-left: 43.47vw;
    margin-top: 9.99vw;
    box-shadow: -8px 6px 50px;
    transform: skew(30deg);
    width: 5vw;
    height: 40vh;
    background-color: #000000;
    animation-name: Animation2;
    animation-duration: 4s;
    animation-delay: 2s;
}

.barrierN3 {
    position: absolute;
    margin-left: 49vw;
    margin-top: 10vw;
    width: 4.5vw;
    height: 40vh;
    background-color: #030000;
    animation: Animation3;
    animation-duration: 3s;
    animation-delay: 3s;
}

@keyframes Animation1 {
    0%{background: black; margin-top: 136px;}
    100%{background-color: #d60000;margin-top: 136px;}
}

@keyframes Animation2 {
    0%{background: black; margin-top: 136px;}
    100%{background-color: #d60000;margin-top: 136px;}
}

@keyframes Animation3 {
    0%{background-color: black; margin-top: 136px;}
    100%{background-color: #d60000;margin-top: 136px;}
}