body{
    font-family: Arial, Helvetica, sans-serif;
}
.barrier1 {
    color: rgb(2, 80, 248);
    border: 2px solid blue;
    width: 160px;
    height: 30px;
}

img{
    width: 30px;
}

h2{
    position: relative;
    top: -50px;
    left: 35px;
}

.barrier2{
    border: 2px solid blue;
    
}