body {
    background-image: url(media/template.png);
    position: absolute;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.imagenes img {
    position: absolute;
    left: 62vw;
    top: 14vh;
    opacity: 0;
    animation-iteration-count: infinite;
}

.imagen1{
    animation-name: animacion1;
    animation-duration: 1s;
    animation-delay: 0.1s;
}

.imagen2{
    animation-name: animacion2;
    animation-duration: 1s;
    animation-delay: 0.2s;
}

.imagen3{
    animation-name: animacion3;
    animation-duration: 1s;
    animation-delay: 0.3s;
}

.imagen4{
    animation-name: animacion4;
    animation-duration: 1s;
    animation-delay: 0.4s;
}

.imagen5{
    animation-name: animacion5;
    animation-duration: 1s;
    animation-delay: 0.5s;
}

.imagen6{
    animation-name: animacion6;
    animation-duration: 1s;
    animation-delay: 0.6s;
}

.imagen7{
    animation-name: animacion7;
    animation-duration: 1s;
    animation-delay: 0.7s;
}

.imagen8{
    animation-name: animacion8;
    animation-duration: 1s;
    animation-delay: 0.8s;
}

.imagen9{
    animation-name: animacion9;
    animation-duration: 1s;
    animation-delay: 0.9s;
}

.imagen10{
    animation-name: animacion10;
    animation-duration: 1s;
    animation-delay: 0.10s;
}

@keyframes animacion1{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }

}

@keyframes animacion2{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes animacion3{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes animacion4{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes animacion5{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}

@keyframes animacion6{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }

}

@keyframes animacion7{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }

}

@keyframes animacion8{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }

}

@keyframes animacion9{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes animacion10{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.imagenes{
    position: relative;
    animation-name: Animation2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes Animation2{
    from{
        margin-left: 0vw;
    }
    to{
        margin-left: - 100vw;
    }
}