*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f3dcbe;
}

.contenedor{
    position: relative;
    animation-name: Animacion1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    margin-top: 25vw;
}

@keyframes Animacion1{
    0% {margin-top: 40vw;}
    25% {margin-top: 10vw;}
    40% {margin-top: 12vw;}
    60% {margin-top: 10vw;}
    100% {margin-top: 10vw;}
}

.contenedor2{
    background-color: whitesmoke;
    width: 30vw;
    height: 40vh;
    margin-left: 35vw;
    margin-top: 100px;
}

.contenedor2 img{
    width: 30%;
    border-radius: 100%;
    margin-left: 22vh;
    margin-top: -100px;
}

.contenedor3{
    width: 400px;
    margin-left: 85vh;
    margin-top: -270px;
}

.contenedor3 p{
    color: rgb(233, 30, 30);
    font-size: 25px;
}

.contenedor4{
    text-align: center;
}

.btn{
    width: 20%;
    height: 40px;
    text-align: center;
    margin-left: 40%;
    margin-top: 30px;
}

.btn a{
    text-decoration: none;
    color: white;
    position: absolute;
    margin-top: 10px;
    margin-left: -90px;
}

.btn{
    padding: 10px 20px;
    background-color: rgb(12, 169, 231);
    border: none;
    cursor: pointer;
    cursor: -moz-grab;
    font-size: 20px;
    transition: background-color 1.5s;
}

.btn:hover{
    background-color: rgb(255, 0, 0);
}