body {
    position: absolute;
    margin: 0;
    padding: 0;
    background-image: url(media/Paisaje.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Fondo {
    width: 100%;
    height: 100%;
}

.Nube {
    position: relative;
    left: 400px;
    top: 100px;
}

.sol {
    position: absolute;
    left: 100px;
    top: 30px;
}

.gotas {
    position: relative;
    left: 550px;
    top: 900px;
}

.flor {
    position: relative;
    left: 600px;
    top: 600px;
}
