body {
    position: absolute;
    margin: 0;
    padding: 0;
    background-image: url(media/Paisaje.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Fondo {
    width: 100%;
    height: 100%;
}

.Nube {
    position: relative;
    left: 90vh;
    top: 6vw;
    mix-blend-mode: multiply;
}

.sol {
    position: absolute;
    left: 10vh;
    top: 1vw;
    mix-blend-mode:multiply;
}

.gotas {
    position: relative;
    left: 95vh;
    top: 7vw;
    mix-blend-mode: multiply;
}

.flor {
    position: absolute;
    left: 100vh;
    top: 32vw;
    mix-blend-mode: multiply;
}
