* {
    font-family: Arial, sans-serif;
}

.header {
    background-color: #3669c9;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 94.6vw;
    height: 81px;
    z-index: 1;
}

body {
    position: absolute;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Republica {
    width: 360px;
}
.UNIVERSE1{
    margin-left: 300px;
    margin-top: 10px;
}

.btn1 a {
    font-size: 25px;
    color: white;
    text-decoration: none;
    margin-top: -10px;
}

.btn2 a {
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.btn3 a {
    font-size: 25px;
    color: white;
    text-decoration: none;
    margin-right: 300px;
}

.consultar-btn {
    font-size: 25px;
    position: relative;
    background-color: #ffffff;
    color: #000000;
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    left: -200px;
}

.container img {
    position: absolute;
    top: 120px;
    width: 100vw;
    height: 80vh;
}

.container2 {
    background-color: rgb(252, 251, 251);
    position: absolute;
    border-radius: 20px;
    margin-top: 150px;
    left: 100px;
    width: 500px;
    height: 650px;
}

.contenedor {
    width: 80%;
    text-align: center;
    margin-left: 50px;
}

.contenedor2 {
    text-align: center;
    margin-top: 10px;
    width: 300px;
    margin-left: 100px;
    font-size: 12px;
}

.contenedor3 {
    margin-top: 10px;
    margin-left: 10px;
}

.contenedor3 label{
    font-size: 14px;
    margin: 30px;
}

.contenedor3 select {
    margin-left: 6%;
    width: 82%;
    height: 24px;
}

.contenedor4 {
    font-size: 14px;
    margin-top: 15px;
    margin-left: 39px;
}

.contenedor4 input {
    width: 85%;
    height: 16px;
}

.contenedor5 {
    margin-top: 15px;
    margin-left: 39px;
}

.contenedor5 input {
    width: 85%;
    height: 15px;
}

.contenedor5 label {
    font-size: 14px;
}

.contenedor6 {
    margin-top: 15px;
    margin-left: 7%;
}

.contenedor6 input {
    width: 85.4%;
    height: 15px;
}

.contenedor6 label {
    font-size: 14px;
}

.contenedor7 {
    margin-top: 15px;
    margin-left: 7%;
}

.contenedor7 input {
    width: 86%;
    height: 15px;
}

.contenedor7 label {
    font-size: 14px;
}

.contenedor8 {
    margin-top: 15px;
    margin-left: 7%;
}

.contenedor8 input {
    width: 85.4%;
    height: 15px;
}

.contenedor8 label {
    font-size: 14px;
}

.contenedor9 {
    margin-top: 15px;
    margin-left: 50%;
}

.contenedor10 .consultar-btn2{
    background-color: #006cfa;
    color: #ffffff;
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 400px;
    margin-left: 930px;
    position: relative;
}

.consultar-btn2 {
    background-color: #006cfa;
    color: #ffffff;
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    left: -50px;
    position: relative;
}

.container3 {
    position: absolute;
    width: 450px;
    height: 120px;
    margin-top: 280px;
    margin-left: 700px;
    text-align: center;
}

.container4 {
    position: absolute;
    margin-top: 200px;
    margin-left: 820px;
    width: 300px;
    font-size: 30px;
}

.titulo1 p {
    position: absolute;
    margin-top: 800px;
    margin-left: 150px;
    text-align: center;
    font-size: 30px;
}

.containerN3 {
    position: absolute;
    margin-top: 800px;
    margin-left: 100px;
    width: 500px;
    height: 400px;
}

.texto1 {
    position: absolute;
    text-align: center;
    margin-top: 30px;
    width: 500px;
    font-size: 20px;
}

.texto2 {
    position: absolute;
    margin-top: 150px;
    text-align: center;
    width: 500px;
    font-size: 20px;
}

.containerN4 img {
    width: 600px;
    height: 500px;
    position: absolute;
    margin-left: 700px;
    margin-top: 750px;
}

.containerN6 {
    position: absolute;
    margin-top: 750px;
}

.containerN6 a {
    position: absolute;
    margin-top: 450px;
    margin-left: 420px;
    width: 220px;
    height: 40px;
    text-decoration: none;
    color: black;
}

.containerN6 img {
    width: 20px;
    height: 20px;
    margin-top: 470px;
    margin-left: 520px;
}

.ContenedorN1 {
    position: absolute;
    margin-top: 100px;
    margin-left: 500px;
    width: 300px;
    height: 30px;
}

.ContenedorN1 p {
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
}

.ContenedorN2 {
    position: absolute;
    margin-top: 180px;
    margin-left: 100px;
    width: 100px;
    height: 40px;
}

.ContenedorN2 p {
    text-align: center;
    font-size: 25px;
    margin-top: 6px;
}

.cont {
    position: absolute;
    margin-top: 250px;
    margin-left: 60px;
    width: 200px;
    height: 30px;
}

.cont p {
    text-align: center;
    font-size: 20px;
    margin-top: 4px;
}

.ContenedorN3 {
    position: absolute;
    margin-top: 180px;
    margin-left: 600px;
    width: 100px;
    height: 30px;
}

.ContenedorN3 p {
    font-size: 23px;
    text-align: center;
    margin-top: 5px;
}

.Cont2 {
    position: absolute;
    margin-top: 232px;
    margin-left: 520px;
    width: 250px;
}

.Cont2 p {
    text-align: center;
    font-size: 20px;
}

.ContenedorN4 {
    position: absolute;
    margin-top: 175px;
    margin-left: 1100px;
    width: 100px;
    height: 40px;
}

.ContenedorN4 p {
    text-align: center;
    margin-top: 5px;
    font-size: 25px;
}

.Cont3 {
    position: absolute;
    margin-top: 250px;
    margin-left: 1000px;
    width: 300px;
}

.Cont3 p {
    font-size: 20px;
    margin-top: 1px;
    text-align: center;
}

.ContenedorN5 {
    margin-left: 510px;
}

.ContenedorN5 p {
    text-align: center;
    font-size: 30px;
}

.ContenedorN6 img {
    position: absolute;
    width: 300px;
}

.ContenedorN7 img {
    position: absolute;
    width: 350px;
    margin-left: 480px;
    margin-top: -40px;
}

.ContenedorN8 img {
    width: 350px;
    position: absolute;
    margin-left: 940px;
    margin-top: 30px;
}

.ContenedorN9 img {
    position: absolute;
    width: 300px;
    margin-top: 150px;
    margin-left: 250px;
}

.ContenedorN10 img {
    position: absolute;
    width: 300px;
    margin-top: 100px;
    margin-left: 750px;
}

.ContenedorN11 {
    position: absolute;
    margin-top: -120px;
    margin-left: 150px;
}

.Caja1 {
    position: absolute;
    margin-top: 100px;
    width: 200px;
    margin-left: 550px;
}

.Caja1 p {
    text-align: center;
    font-size: 20px;
}

.caja2 {
    position: absolute;
    margin-left: -300px;
    margin-right: -900px;
    text-align: center;
}

.caja2 p {
    background-color: rgb(0, 60, 255);
    color: white;
    border-radius: 60px;
    width: 30px;
    height: 30px;
    font-size: 25px;
    margin-left: 380px;
}

.Universal {
    margin-top: 1400px;
}

.Universal2 {
    margin-top: 200px;
}

.Universal3 {
    margin-top: -880px;
    margin-left: 140px;
}

.SECCIONES {
    position: absolute;
    margin-top: 1100px;
    margin-left: 500px;
    color: white;
}

.CON {
    color: white;
    width: 50px;
    margin-top: 700px;
    margin-left: 650px;
    position: absolute;
}

/* Preguntas 1 y 2 */

.Caja1 {
    width: 200px;
    height: 40px;
}

.Caja1 p {
    margin-top: 10px;
    text-align: center;
}

.Pregunta1 {
    margin-top: 100px;
    width: 900px;
    margin-left: -320px;
    text-align: center;
}

.Respuesta1 {
    margin-top: 10px;
    width: 900px;
    margin-left: -320px;
    text-align: center;
}

.Pregunta2 {
    margin-top: 100px;
    width: 1010px;
    margin-left: -400px;
    text-align: center;
}

.Respuesta2 {
    width: 700px;
    margin-left: -260px;
    text-align: center;
}

.FlechaAbajo {
    position: absolute;
    margin-top: -460px;
    margin-left: -430px;
}

.FlechaAbajo a {
    position: absolute;
    margin-top: 450px;
    margin-left: 500px;
    width: 70px;
    text-align: center;
    height: 40px;
    text-decoration: none;
    color: black;
}

.FlechaAbajo img {
    width: 20px;
    height: 20px;
    margin-top: 470px;
    margin-left: 525px;
}

.Universal4 {
    margin-top: 1500px;
}

/* Preguntas 3 y 4 */
.Prgunta3 {
    width: 900px;
    margin-top: 80px;
    margin-left: 30%;

}

.caja2-2 {
    margin-left: 70%;
}

.caja2-2 {

    margin-left: 50%;
    position: absolute;
    background-color: #2500fa;
    color: white;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-top: 40px;
    margin-left: 650px;
}

.caja2-2 p {
    margin-top: 5px;
    font-size: 20px;
}

.caja2-1 {
    margin-left: 50%;
    position: absolute;
    background-color: #2500fa;
    color: white;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-top: 220px;
    margin-left: 650px;
}

.caja2-1 p {
    margin-top: 5px;
    font-size: 20px;
}

.Respuesta3 {
    position: absolute;
    width: 800px;
    text-align: center;
}

.Pregunta4 {
    position: absolute;
    margin-top: 250px;
    margin-left: 250px;
    width: 950px;
    text-align: center;
}

.Respuesta4 p {
    position: absolute;
}

.Universal5 {
    position: absolute;
    margin-top: 430px;
    margin-left: 62%;
}

.Universal6 {
    position: absolute;
    margin-top: 1000px;
}

/* Pregunta 5 */

.caja2-3 {
    margin-left: 50%;
    position: absolute;
    background-color: #2500fa;
    color: white;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-top: 20px;
    margin-left: 650px;
}

.caja2-3 p {
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
}

.Pregunta5 {
    position: absolute;
    margin-top: 50px;
    margin-left: 250px;
    width: 950px;
    text-align: center;
}

.Respuesta5 {
    margin-left: 200px;
    margin-top: -10px;
}

.Respuesta5 p {
    position: absolute;
    text-align: center;
}

/* footer */

.footer {
    margin-top: 120px;
    text-align: center;
    background-color: #157FFB;
    opacity: 1;
    border-radius: 59px;
    width: 950px;
    height: 150px;
}

.footer h2 {
    color: white;
}

.footer p {
    color: white;
}

.Boton{
    background-color: white;
    width: 150px;
    height: 30px;
    margin-left: 430px;
    border-radius: 10px;
}

.Boton a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

footer {
    margin-top: 400px;
    background-color: #3366cc;
    color: white;
    text-align: left;
    padding: 20px 300px;
    width: 100%;
}

.footer-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen1 img{
    width: 500px;
}

.Universal7{
    position: absolute;
    margin-top: 1600px;
}

.SECCIONES2{
    float: left;
    margin-top: -20px;
    margin-left: 620px;
    color: white;
}

@media only screen and (max-width:1100px){
    .Republica{
        width: 200px;
        position: absolute;
        margin-left: -60px;
    }
    .btn1{
        
    }
    .btn2{
        margin-left: 20px;
        text-align:right;
        font-size: 10px;
        width: 50px;
    }
    .btn3{
        font-size: 10px;
        margin-left: 30px;
    }
    
}